# 
# router.yml
# active mode BMP daemon
collector:
    daemon: router
    daemon-config:
            AS: 64501
            bgpid: 10.30.65.210
            mode: active
    targets:
            - host: dell3
              port: 179
